#main {
    width: 1200px;
    margin: 0 auto;
    height: 1080px;

    #h_title { 
        padding: 220px 0;
        box-sizing: border-box;
        font-family: $eng_font;

        .p_title {
            position: relative;
            font-size: 80px;
            font-weight: 900;
            font-style: italic;
            color: #74c4d7;
        }

        .p_title::after {
            content: "";
            display: block;
            position: absolute;
            width: 82px;
            height: 11px;
            bottom: -20px;
            background-color:$after-color-b;
        }

        .p_desc {
            font-size: 21px;
            font-weight: 100;
            line-height: 90px;
            color: #656565;
        }
    }

    #color {
        text-align: right;
        margin-top: 50px;

        li {
            display: inline-block;
            width: 33px;
            height: 98px;
            margin-left: 8px;

            &:first-child {
                background-color:$theme_color;
            }
            &:nth-child(2) {
                background-color:$after-color-b;
            }
            &:nth-child(3) {
                background-color:$project-dt;
            }  
            &:last-child {
                background-color:$text-color;
            }
        }
    }

    #name {
        position: relative;
        font-family: $eng_font;
        text-align: right;
        margin-top: 40px;
        font-size: 36px;
        font-weight: 100;
        color:$theme_color;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 747px;
            height: 1px;
            background-color:$theme_color;
            right: 0;
        }
    }
}
#sec1 {
    background-color:$background-color;
    height: 1080px;

    .sec1 {
        width: 1200px;
        margin: 0 auto;

        #profile {
            position: relative;
            padding: 100px 130px;
            box-sizing: border-box;
            opacity: 0;
            @include transitionEffect(all, 0.3s, 0);
    
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 82px;
                height: 11px;
                bottom: -350px;
                background-color:$after-color-b;
            }
    
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 1px;
                height: 245px;
                left: 0;
                top: 0;
                background-color:$theme_color;
            }

            .p_name {
                font-family: $eng_font;
                font-size: 36px;
                font-weight: 500;
                color:$theme_color;
            }
            .k_name {
                font-family: $kr_font;
                font-size: 26px;
                font-weight: 400;
                color:$theme_color;
            }
        
            .face {
                float: left;
                margin-top: 30px;
            }
        
            .contact {
                float: left;
                margin-top: 280px;
                margin-left: 50px;
                font-size: 18px;
                line-height: 32px;
                color: $text-color;
            }
        }  
            
        #tools {
            clear: left;
            padding: 90px 80px;
            box-sizing: border-box;
            opacity: 0;
            transition: all 0.3s;
            @include transitionEffect(all, 0.3s, 0.4s);
        }

        .t_tile {
            font-family: $eng_font;
            font-size: 45px;
            font-weight: 100;
            color: $text-color;
        }

        .tools_icon {
            margin-top: 30px;
        }

        .t_desc {
            font-family: $kr_font;
            font-size: 23px;
            color: $text-color;
            font-weight: 100;
            margin-top: 10px;
        }
    }

    &.on #profile {
        padding: 100px 80px;
        box-sizing: border-box;
        opacity: 1;
    }

    &.on #tools {
        opacity: 1;
        padding: 60px 80px;
        box-sizing: border-box;
    }
    
}   
#sec2 {
    width: 1200px;
    height: 1080px;
    margin: 0 auto;

    .skill_title {
        position: relative;
        font-family: $eng_font;
        font-size: 68px;
        font-weight: 100;
        color:$theme_color;
        text-align: left;
        padding: 60px 20px;
        opacity: 0;
        box-sizing: border-box;
        @include transitionEffect(all, 0.3s, 0);

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 680px;
            height: 4px;
            left: -350px;
            bottom: 60px;
            background-color:$theme_color;
        }
    }

    .sec2_list {
        position: relative;
        margin-top: 260px;
        text-align:center;
        opacity: 0;
        @include transitionEffect(all, 0.5s, 0.6s);

        &::before,
        &::after {
        content: "";
        display: block;
        }

        &::after {
            clear: both;
        }

        li {
            position: relative;
            float: left;
            margin-left: 2%;
            width: calc((100% - 6%)/4);
            text-align: center;
            box-sizing: border-box;

            &:first-child {
                margin-left: 0;
            }

            dt {
                position: absolute;
                left: 50%;
                top: 0;
                margin-left: -63px;
                padding: 45px 0;
                font-family: $eng_font;
                width: 126px;
                height: 126px;
                text-align: center;
                font-size: 30px;
                font-weight: 100;
                color: #fff;
                background-color:$theme_color;
                border-radius: 100%;
                box-sizing: border-box;
            }

            &:last-child dt {
                line-height: 28px;
                padding: 34px 0;
            }

            dd {
                margin-top: 65px;
                padding: 100px 0;
                height: 321px;
                text-align: center;
                font-size: 16px;
                color: $text-color;
                background-color: #fff;
                @include borderBox(2px, solid, #d6d6d6);
                box-sizing: border-box;
            }

            &:last-child dd {
                line-height: 140px;
            }
        }
    }

    &.on .skill_title {
        padding: 60px 80px;
        opacity: 1;
        box-sizing: border-box;
    }

    &.on .sec2_list {
        opacity: 1;
        margin-top: 160px;
    }    
}

#sec3 {
    background-color: #f8f5f0;
    height: 1080px;

    .sec3_inner {
        width: 1200px;
        height: 1080px;
        margin: 0 auto;
        text-align: center;

        #sec3_index {
            padding-top: 200px;
            margin-left: 100px;
            opacity: 0;
            box-sizing: border-box;
            @include transitionEffect(all, 0.3s, 0.3s);
    
            .sec3_title {
                position: relative;
                font-family: $eng_font;
                font-size: 68px;
                font-weight: 100;
                color:$theme_color;
    
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    left: 50%;
                    margin-left: -24px;
                    width: 48px;
                    height: 3px;
                    background-color:$theme_color;
                    bottom: 0;
                }
            }
            .sec3_desc {
                font-family: $eng_font;
                font-size: 18px;
                font-weight: 300;
                color:$theme_color;
                line-height: 40px;
            }
         }
    
         #sec3_list {
            opacity: 0;
            margin-top: 130px;
            @include transitionEffect(all, 0.3s, 0.6s);
    
            .icon_list {
                margin-top: 130px;
                margin-bottom: 55px;
    
                li {
                    display: inline-block;
                    margin-left: 180px;
                    opacity: 0.6;
                    font-size: 24px;
                    vertical-align: middle;
                    color: $text-color;
                    font-weight: 300;
                    @include transitionEffect(color, 0.2s, 0);
    
                    &:first-child {
                        margin-left: 0;
                        margin-right: -30px;
                    }
    
                    &.on {
                        opacity: 1;
                        font-weight: 400;
                        color:$theme_color;
                    }
                }
            }
    
            .controller {
                li {
                    position: relative;
                    display: inline-block;
                    margin-left: 265px;
                    z-index: 99;
    
                    &:first-child {
                        margin-left: 0;
                    }
    
                    a {
                        display: block;
                        width: 21px;
                        height: 21px;
                        background-color: #fff;
                        @include borderBox(1px, solid, $theme_color);
                        border-radius: 100%;
                        text-indent: -9999px;
                        overflow: hidden;
                        @include transitionEffect(background-color, 0.3s, 0);
                    }
    
                    &.on a {
                        background-color:$theme_color;
                        @include borderBox(1px, solid, $theme_color);
                    }
    
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        width: 272px;
                        height: 2px;
                        background-color:$theme_color;
                        top: 11px;
                        left: 23px;
                        z-index: 10;
                    }
    
                    &:last-child::after {
                        display: none;
                    }
                }
            }
    
            .desc_list {
                position: relative;
                margin-top: 50px;
                text-align: center;
    
                li {
                    position: relative;
                    display: none;
                    opacity: 0;
                    @include transitionEffect(opacity, 0.3s, 0.4s);
    
                    &.on {
                        margin-top: 0px;
                        opacity: 1;
                        display: block;    
                    }
    
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 39px;
                        height: 5px;
                        background-color:$theme_color;
                        top:40px;
                        left: 50%;
                        margin-left: -15px;
                    }
    
                    .project_title {
                        font-family: $eng_font;
                        font-size: 32px;
                        font-weight: 900;
                        font-style: italic;
                        color:$theme_color;
                    }
    
                    .project_desc {
                        font-family: $kr_font;
                        font-size: 20px;
                        font-weight: 300;
                        color: $text-color;
                    }

                    a {
                        font-family: $eng_font;
                        font-size: 22px;                        
                        color: $theme-color;
                        font-weight: 700;
                        line-height: 40px;
                    }
                }
            }     
        }

        .under_btn {
            width: 48px;
            height: 25px;
            margin: 0 auto;
            opacity: 0;
            @include transitionEffect(opacity, 0.3s, 1s);

            a {
                margin-top: 80px;
                display: block;
                width: 48px;
                height: 25px;
                text-indent: -9999px;
                overflow: hidden;
                @include bgImage('/portfolio/images/under_btn.png', no-repeat, (center, center), auto);
            }
        }   
    }
    &.on #sec3_index {
       margin-left: 0;
       opacity: 1;
       box-sizing: border-box;
    }

    &.on #sec3_list {
        opacity: 1;
        margin-top: 0px;
    }

    &.on .under_btn {
        opacity: 1;
    }       
}