#sec4 {
    .sec4_container {
        width: 1200px;
        height: auto;
        padding: 70px 0;
        margin: 0 auto;
        text-align: right;

        li {
            display: none;

            &.on {
                display: block;
            }

            #sec4_index {
                text-align: left;
                padding: 60px 0;
                box-sizing: border-box;
                color: $theme_color;
                font-family: $eng_font;
                font-style: italic;

                .sec4_title {
                    position: relative;
                    font-size: 40px;
                    font-weight: 200;

                    &::after {
                        position: absolute;
                        content: "";
                        display: block;
                        width: 219px;
                        height: 2px;
                        background-color: $theme_color;
                    }
                }

                .sec4_project {
                    font-size: 48px;
                    font-weight: 900;
                    margin-left: 40px;
                }
            }

            #p_header {
                .desc_header {
                    font-family: $kr_font;
                    margin: 40px 0;
                    font-size: 16px;
                    font-weight: 400;
                    color: #7a7a7a;
                    text-align: center;
                }
            }

            #preview {
                display: flex;
                justify-content: space-between;         

                .pre_index {
                    position: relative;
                    text-align: left;

                    .header {
                        position: absolute;
                        text-align: right;
                        left: 50px;
                        top: 100px;
                        width: 300px;

                        dt {
                            font-family: $eng_font;
                            font-size: 20px;
                            font-weight: 900;
                            color: $project-dt;
                        }
    
                        .content {
                            font-family: $eng_font;
                            display: block;
                            padding: 5px 0;
                            font-size: 16px;
                            color:$project-content;
                        }
    
                        .content_desc {
                            font-family: 'Noto Sans KR', sans-serif;
                            font-size: 16px;
                            line-height: 20px;
                            color:$text-color;
                        }

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 105px;
                            height: 1px;
                            top: 30px;
                            left: 320px;
                            background-color: $theme_color;
                        }

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            top: 25px;
                            left: 425px;
                            border-radius: 100%;
                            background-color: $theme_color;
                        }
                     }

                    .section {
                        position: absolute;
                        text-align: left;
                        top: 500px;
                        left: 50px;
                        top: 500px;
                        width: 300px;

                        dt {
                            font-family: $eng_font;
                            font-size: 20px;
                            font-weight: 900;
                            color: $project-dt;
                        }
    
                        .content {
                            font-family: $eng_font;
                            display: block;
                            padding: 5px 0;
                            font-size: 16px;
                            color:$project-content;
                        }
    
                        .content_desc {
                            font-family: 'Noto Sans KR', sans-serif;
                            font-size: 16px;
                            line-height: 20px;
                            color:$text-color;
                        }

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 105px;
                            height: 1px;
                            top: 90px;
                            left: 320px;
                            background-color: $theme_color;
                        }

                        &n::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            top: 85px;
                            left: 425px;
                            border-radius: 100%;
                            background-color: $theme_color;
                        }
                     }

                     .footer {
                        position: absolute;
                        text-align: right;
                        left: 50px;
                        bottom: 30px;
                        width: 300px;

                        dt {
                            font-family: $eng_font;
                            font-size: 20px;
                            font-weight: 900;
                            color: $project-dt;
                        }
    
                        .content {
                            font-family: $eng_font;
                            display: block;
                            padding: 5px 0;
                            font-size: 16px;
                            color:$project-content;
                        }
    
                        .content_desc {
                            font-family: 'Noto Sans KR', sans-serif;
                            font-size: 16px;
                            line-height: 20px;
                            color:$text-color;
                        }

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 105px;
                            height: 1px;
                            top: 50px;
                            left: 320px;
                            background-color: $theme_color;
                        }

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            top: 45px;
                            left: 425px;
                            border-radius: 100%;
                            background-color: $theme_color;
                        }
                     }
                }

                .img_preview{
                    text-align: right;
                }
            }

            .more_btn {
                font-family: $eng_font;
                text-align: right;
                margin-top: 45px;
            
                a {
                    font-size: 35px;
                    font-weight: 900;
                    font-style: italic;
                    color: $theme_color;
                }
            }
            
        }
    }
}

