.mini_banner {
	text-align: center;
	margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    margin-top: 70px;
    
    li{
        position: relative;
        display: inline-block;
        margin: 30px 15px;

        dt {
            position: absolute;
            left: 20px;
            top: 10px;
            font-size: 18px;
            font-weight: 700;
            color: #fff;

            &::after{
                content: "";
                display: block;
                position: absolute;
                left: -5px;
                top: 5px;
                width: 3px;
                height: 18px;
                background-color: #fff;
            }
        }

        dd {
            position: absolute;
            right: 10px;
            bottom: 10px;
            text-align: right;
            font-size: 18px;
            font-weight: 700;
            color: #fff;    

            .who {
                position: absolute;
                right: 0px;
                bottom: 38px;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }

            .blind {
                font-size: 32px;
                font-weight: 700;
                color: #fff;
            }

            .line::after{
                content: "";
                display: block;
                position: absolute;
                right: -10px;
                bottom: 30px;
                width: 300px;
                height: 2px;
                background-color: #fff;
            }
        }

        a{
            display: block;
            width: 564px;
            height: 182px;    
            overflow: hidden;
        }

        img {
            transform: scale(1);
            @include transitionEffect(transform, 0.3s, 0);
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}
#slider_content {
    position: relative;
	margin-top: 250px;
    @include bgImage("/portfolio/project1/pc/images/content_slider_back_image.png" ,no-repeat, (0 0), 100% );

    .middle_btn {
        position: absolute;
        z-index: 9999;
        bottom: 0;
        right: 0;
        margin-right: 220px;
        margin-bottom: 20px;

        a {
            margin-left: 20px;
            color: #fff;
            @include textShadow(0px, 0px, 5px, rgba(0, 0, 0, 0.9));
         }
    }

    .slider_moving {
        position: relative;
        margin: 0 auto;
        width: 750px;
        height: 433px;
        overflow: hidden;
        top: 0px;
        right: 0;
        margin-top: -80px;
        margin-right: 200px;

        ul {
            position: absolute;
            left: 0;
            top: 0;
            width: calc(750px*4);
            height: 433px;
            @include transitionEffect(left, 0.3s, 0);

            li {
                float: left;
                width: 750px;
                height: 433px;
            }
        }
    }

    .middle_more {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 180px;
        margin-bottom: -40px;

        a {
            font-weight: 400;
            color: #463931;
            border-bottom: 1px solid #705c4f;
        }
    }
}
.portfolio {
	margin: 100px auto;
	margin-top: 100px;
    width: 1200px;

    p {
        font-size: 30px;
        font-weight: 100;
        text-align: center;
    }

    ul {
        margin-top: 30px;
        text-align: center;

        li {
            display: inline-block;

            a {
                display: block;
                margin: 16px 16px; /* 2020-07-03 */

                .img {
                    position: relative;
                    z-index: 99;

                    .overlay {
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 1000;
                        width: 364px;
                        height: 290px;
                        background-color: #000;
                        opacity: 0;
                        @include transitionEffect(opacity 0.3s, 0);

                        dt {
                            margin-top: 120px;
                            font-size: 36px;
                            font-weight: 700;
                            color: #fff;
                        }

                        dd {
                            line-height:-80px;
                            font-size: 16px;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }

                &:hover .overlay,
                &:focus .overlay { 
                opacity: 0.5;
                }

                .desc {
                    p {
                        margin-top: 15px;
                        font-size: 16px;
                        font-weight: 500;
                        text-align: left;
                    }

                    dt {
                        text-align: left;
                        font-size: 36px;
                        font-weight: 900;
                        color: #58463a;
                        line-height: 40px;

                        &::after {
                            content: "";
                            display: block;
                            margin-top: 5px;
                            width: 364px;
                            height: 2px;
                            background-color: #aeaeae;
                        }
                    }

                    dd {
                        text-align: left;
                        font-size: 14px;
                        line-height: 35px;
                        font-weight: 200px;
                    }
                }
            }
        }
    }
}

.no_margin {
	background-color: $main-color;
    margin-top: 100px;
    min-width: 1200px;

    .no_inner {
        width: 1200px;
        height: 460px;
        margin: 0 auto;
    }
}
.no_margin .no_inner {
	width: 1200px;
	height: 460px;
    margin: 0 auto;
    
    p {
        line-height: 90px;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }

    .margin_image {
        width: 1200px;
        margin: 0 auto;
        text-align: center;

        li {
            display: inline-block;
            margin: 10px 50px;

            .imagebox {
                width: 250px;

                dl {
                    margin-top: 20px;
                }

                dt {
                    font-size: 20px;
                    font-weight: 700;
                }

                dd {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }

    .more_button {
        margin-top: 20px;
        text-align: center;   
        
        a{
            display: inline-block;
            text-align: center;
            line-height: 50px;
            font-size: 17px;
            font-weight: 600;
            width: 160px;
            height: 50px;
            border: none;
            border-radius: 100px;
            background-color: #fff;

            &:hover {
                color: #fff;
                background-color: #272320;
                @include transitionEffect(background-color, 0.2s, 0);
            }
        }
    }
}
.process {
    width: 1200px;
    margin: 80px auto;

    .process_title {
        font-size: 30px;
        font-weight: 100;
        text-align: center;
    }

    .process_list {
        text-align: center;
        margin: 10px 0;

        li {
            position: relative;
            display: inline-block;
            margin: 30px;   

            .process_img {
                width: 120px;
                height: 120px;
                border-radius: 100%;
                overflow: hidden;
                padding-top: 16px;
                box-sizing: border-box;
                @include borderBox(3px, solid, #443c35);

                img {
                    width: 70%;
                }
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                @include bgImage("/portfolio/project1/pc/images/process_arrow.png",  no-repeat, (center center));
                width: 40px;
                height: 90px;
                top: 20px;
                left: -55px;
            }

            &:first-child::after {
                display: none;
            }

            p {
                margin-top: 10px;
                font-weight: 400;
                color: #443c35;
            }
        }
    }
}

.event_banner {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    dl {
        &.left {
            position: absolute;
            left: 10px;
            top: 10px;
            text-align: left;

            dt {
                font-size: 16px;
                font-weight: 700;
            }

            dd {
                margin-top: 95px;
                font-size: 22px;
                font-weight: 700;
                line-height: 27px;

                .ravat {
                    color: $main-color;
                }
            }
        }

        &.right {
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: right;

            dt {
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }

            dd {
                margin-top: 95px;
                font-size: 22px;
                font-weight: 700;
                line-height: 27px;

                .door {
                    color: $main-color;
                }

                .pricedoor {
                    color: #fff;
                }
            }
        }
    }
}
.help_area {
    width: 1200px;
    height: 420px;
    margin: 90px auto;

    .help {
        position: relative;
        float: left;

        .helpmore {
            position: absolute;
            left: 26px;
            top: 50px;
        }

        dl {
            position: absolute;
            left: 26px;
            top: 12px;
        }

        dt {
            font-size: 40px;
            color: #83675e;
            font-weight: 700;
        }

        dd {
            margin-top: 10px;
            font-size: 25px;
            color: #83675e;
            font-weight: 700;
        }
    }

    .faq {
        position: relative;
        float: right;

        .opacity_box {
            position: absolute;
            right: 0;
            top: 0;
            width: 223px;
            height: 417px;
            background-color: #000;
            opacity: 0.4;            
        }

        dl {
            position: absolute;
            left: 26px;
            top: 12px;
        }

        dt {
            font-size: 30px;
            color: #fff;
            font-weight: 700;
        }

        dd {
            margin-left: 580px;
            margin-top: 290px;
            font-size: 40px;
            color: #fff;
            font-weight: 700;
        }
    }
}
.review {
    background-color: #f5e5db;
    min-width: 1200px;   

    .review_inner {
        margin: 0 auto;
        width: 1200px;
        height: 546px;

        p {
            line-height: 150px;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            color: #272320;
        }

        .post_slider {
            margin: 0 auto;
            width: 1200px;
            height: 298px;
            overflow: hidden;

            li {
                position: relative;
                display: inline-block;
                margin-left: 360px;

                &:first-child {
                    margin-left: 0;
                }

                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 260px;
                    height: 298px;
                    background-color: #fff;
                    left: 256px;
                    top: 0;
                }

                dl {
                    position: absolute;
                    top: 0;
                    left: 260px;
                    width: 240px;
                    height: 270px;
                    z-index: 9999;
                    padding: 15px;
                    box-sizing: border-box;

                    dt {
                        .review_title {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        .review_info {
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                    dd {
                        margin-top: 15px;
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}
.vanstargram {
    width: 1200px;
    margin: 120px auto;

    .in_icon{
        text-align: center;
    }

    h4 {
        margin-top: 20px;
        font-size: 42px;
        font-weight: 700;
        text-align: center;
        color: #272320;

        &::after {
            content: "";
            display: block;
            margin: 10px auto;
            width: 1100px;
            height: 4px;
            background-color: $main-color;
        }
    }

    .in_list {
        width: 1200px;
        margin: 0 auto;

        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 50px 25px;
                position: relative;
                z-index: 99;

                .overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1000;
                    width: 235px;
                    height: 235px;
                    opacity: 0;
                    @include transitionEffect(opacity, 0.3s, 0);

                    dt {
                        margin-top: 140px;
                        font-size: 15px;
                        font-weight: 700;
                        color: #fff;
                    }

                    dd {
                        font-size: 13px;
                        font-weight: 700;
                        color: #fff;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}